/* Estilos gerais */
body {
    font-family: 'Calibri', sans-serif;
    font-size: 16px; /* Tamanho da fonte */
    margin: 0;
    padding: 0;
    height: 100vh; /* Garante que o corpo da página ocupe toda a altura da tela */
}

header {
    background-color: #f8f8f8; /* Cor de fundo do cabeçalho */
    padding: 10px 0; /* Espaçamento interno do cabeçalho */
}

.container {
    display: flex; /* Alinha os elementos lado a lado */
    justify-content: center; /* Centraliza os elementos */
    align-items: center; /* Alinha verticalmente ao centro */
    height: 100%; /* Altura total */
    padding: 20px; /* Espaçamento interno */
}

.super-card {
    display: flex; /* Alinha imagem e texto lado a lado */
    margin-top: 20px;
    width: 100%; /* Faz o super-card ocupar toda a largura */
    max-width: 1200px; /* Largura máxima do cartão */
    border: 1px solid #ccc; /* Borda para separar visualmente */
    padding: 20px; /* Aumentando o espaçamento interno da super-card */
}

.super-card-img {
    flex: 1; /* A imagem ocupa um espaço flexível */
    margin-right: 20px; /* Espaço entre imagem e texto */
}

.super-card-img img {
    width: 100%; /* Faz a imagem ocupar toda a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    max-width: 300px; /* Altura máxima para controlar o tamanho da imagem */
    max-height: 300px; /* Altura máxima para controlar o tamanho da imagem */
}

.super-card-text {
    flex: 2; /* O texto ocupa um espaço maior em relação à imagem */
}

.super-card-text p {
    margin: 0; /* Remove margem do parágrafo */
}

nav ul {
    list-style: none; /* Remove marcadores da lista */
    padding: 0; /* Remove preenchimento padrão */
}

nav ul li {
    display: inline; /* Itens do menu lado a lado */
    margin-right: 15px; /* Espaço entre itens do menu */
}
